body {
    background-image: url("ariana3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
   }

#countdown {
    position: absolute;
    top: 35%;
    right: 2%;
    font-family: "Myriad Pro Regular", "Myriad Pro", Arial, Helvetica;    
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #ff9999;
}

#precountdown {
    position: absolute;
    top: 25%;
    right: 2%;
    font-family: "Myriad Pro Regular", "Myriad Pro", Arial, Helvetica;      
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #ff9999;
}

